body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  padding-top: 50px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005999;
}